@import "../../utililties/theme.scss";

.custom-event {
  font-family: $body-font;
  font-size: 14px;
  border-left: 4px solid $primary-color;
  padding: {
    top: 3px;
    left: 5px;
    bottom: 3px;
  }

  .title {
    font-weight: bold;
  }
  .time {
    padding-bottom: 5px;
  }
}

// Full Calendar overrides
.fc-toolbar {
  margin-bottom: 0 !important;
  background-color: $primary-color;
  padding: 20px;
  border: 1px solid black;
  border-bottom: none;

  .fc-toolbar-title {
    font-family: $header-font;
    font-weight: bold;
    color: white;
    text-shadow: 0px 3px 6px #00000029;
    font-size: 32px;
  }

  .fc-button-group > .fc-button {
    background-color: white;
  }

  .fc-icon {
    color: #6e6868;
  }

  .fc-button-primary {
    color: #fff;
    background-color: #6e6868;
    border-color: #6e6868;
  }
}

.fc-head {
  .fc-day-header {
    padding: {
      top: 5px;
      bottom: 5px;
    }
    &:not(:last-of-type) {
      border-right-color: white;
    }

    span {
      font-family: $body-font;
      font-weight: bold;
    }
  }
}

.fc-view {
  .fc-daygrid-event {
    border: 1px solid;
    border-radius: 0;
  }
  .fc-daygrid-day-number {
    color: black;
    font-family: $body-font;
    font-weight: bold;
    padding: 0px;
    width: 20px;
    text-align: center;
  }

  .fc-daygrid-day {
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
  }
  .fc-daygrid-day.fc-day-today {
    background-color: #80808047;
  }
}

.fc-unthemed td {
  border-color: black;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: 1px solid black;
}

.fc-theme-standard .fc-scrollgrid {
  border-left: 1px solid black;
  border-top: 1px solid black;
}

// List View Plugin
.fc-theme-standard .fc-list {
  border: 1px solid black;
}

.fc .fc-list-event-dot {
  display: none;
}

@include sm {
  .fc-header-toolbar {
    flex-flow: column-reverse;
  }

  .fc-toolbar .fc-toolbar-title {
    font-size: 28px;
    margin-bottom: 1rem;
  }
}
