@import "../../utililties/theme.scss";

.business-grid {
  margin-top: 3rem;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;

  .grid-col {
    flex: 33.33%;
    max-width: 33.33%;

    @include lg {
      flex: 50%;
      max-width: 50%;
    }

    @include md {
      flex: 100%;
      max-width: 100%;
    }

    .grid-item {
      padding: 10px;

      .item-card {
        box-shadow: 0px 3px 6px #00000029;
        padding: 20px;
        border-radius: 3px;
        font-family: $body-font;
        display: flex;
        flex-direction: column;

        .business-name {
          padding-bottom: 1rem;
          margin-bottom: 0;
          border-bottom: 1px solid black;
          font-family: $header-font;
          font-weight: bold;
          font-size: 40px;
        }

        .business-type {
          padding: 10px;
          width: fit-content;
          margin-bottom: 2rem;
        }

        button {
          width: fit-content;
        }
      }
    }
  }

  .business-rodal-content {
    img {
      max-width: 60%;
      max-height: 400px;
      margin-bottom: 2rem;

      @include sm {
        max-width: 90%;
      }
    }

    h1 {
      margin-bottom: 1rem;
    }

    .type {
      font-weight: bold;
      text-transform: uppercase;
    }

    .body {
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .social {
      svg {
        font-size: 30px;
        color: black;
        margin-right: 15px;

        &:hover {
          color: $primary-color;
        }
      }
    }

    button {
      margin-top: 2rem;
    }
  }
}
